.card-img-top{
    height: 15rem;
}
.milan{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
/*Products css end  */
@media(min-width:1200px) and (max-width:1700px){
    .carousel-content {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        text-align: center;
        bottom: 40%;
        left: 22%;
        z-index: 20;
        color: white;
        text-shadow: 0 1px 2px rgba(0,0,0,.6);
    }
    .carousel-content h1{
        font-size: 80px;
    }
    .carousel-content p{
        font-size: 20px;
        text-align: left;
    }
}

@media(min-width:900px) and (max-width:1199px){
    .carousel-content {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        text-align: center;
        bottom: 35%;
        left: 15%;
        z-index: 20;
        color: white;
        text-shadow: 0 1px 2px rgba(0,0,0,.6);
    }
    .carousel-content h1{
        font-size: 50px;
    }
    .carousel-content p{
        font-size: 15px;
        text-align: left;
    }
}

@media(min-width:576px) and (max-width:899px){
    .carousel-content {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        text-align: center;
        bottom: 35%;
        left: 15%;
        z-index: 20;
        color: white;
        text-shadow: 0 1px 2px rgba(0,0,0,.6);
    }
    .carousel-content h1{
        font-size: 30px;
    }
    .carousel-content p{
        font-size: 10px;
        text-align: left;
    }
}

@media(min-width:375px) and (max-width:575px){
    .carousel-content {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        text-align: center;
        bottom: 35%;
        left: 5%;
        z-index: 20;
        color: white;
        text-shadow: 0 1px 2px rgba(0,0,0,.6);
    }
    .carousel-content h1{
        font-size: 18px;
    }
    .carousel-content p{
        font-size: 8px;
        text-align: left;
    }
}

@media(max-width:374px){
    .carousel-content {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        text-align: center;
        bottom: 35%;
        left: 5%;
        z-index: 20;
        color: white;
        text-shadow: 0 1px 2px rgba(0,0,0,.6);
    }
    .carousel-content h1{
        font-size: 18px;
    }
    .carousel-content p{
        font-size: 8px;
        text-align: left;
    }
}

.pro-container{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items:center;
}
.bgtry1{
    background-image: url('./Blind Products Photos/bgtry2.jpeg');
}
.pro-card{
    width: 360px;
   height: 500px;
   margin: 50px;
   box-shadow:5px 5px 20px black ;
   overflow: hidden;
   border-radius: 7%;
   opacity: .85;
}
.intro{
   height: 90px;
   width: 360px;
   padding: 6px;
   box-sizing: border-box;
   position: absolute;
   background:rgb(27,27,27,.5) ;
   color: white;
   bottom: 228.55px;
   transition: .5s;
}
.pro-h1{
   margin: 10px;
   font-size: 30px;
}
.intro p{
  font-size: 20px;
  margin: 20px;
  visibility: hidden;
  opacity: 0;
}
.intro span{
   font-weight: bold;
}
.pro-card:hover{
   cursor: pointer;
   opacity: 1;
}
.pro-card:hover .intro{
   height: 220px;
   bottom: 240px;
   background: black;

}
.pro-card:hover p{
   opacity: 1;
   visibility: visible;
}
.pro-card:hover img{
   transform: scale(1.1) rotate(-3deg);
}
.product-buttons{
    margin-top: 130px;
    justify-content: space-around;
}
.price-text{
    font-size: 20px;
}
.paisa{
    font-weight: bold;
    font-size: 25px;
}
.reviews{
    flex-direction: column;
    margin-top: 10%;
    gap: 30px;
    text-align: center;
}
.review-text{
    font-size: 30px;
}


/* Footer */
#footer {
    font-size: 14px;
    background: #090909;
  }
  
  
  #footer .footer-top {
    padding: 60px 0 0 0;
    background: #fff;
  }
  
  #footer .footer-top .footer-contact {
    margin-bottom: 30px;
  }
  
  #footer .footer-top .footer-contact h3 {
    font-size: 28px;
    margin: 0 0 10px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 600;
    color: #37517e;
  }
  
  #footer .footer-top .footer-contact p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Jost", sans-serif;
    color: #5e5e5e;
  }
  
  #footer .footer-top h4 {
    font-size: 16px;
    font-weight: bold;
    color: #090909;
    position: relative;
    padding-bottom: 12px;
  }
  
  #footer .footer-top .footer-links {
    margin-bottom: 30px;
  }
  
  #footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  #footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: #47b2e4;
    font-size: 18px;
    line-height: 1;
  }
  
  #footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
  }
  
  #footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
  }
  #footer .footer-top .footer-links ul h2{
      font-size:20px;   
  }
  
  #footer .footer-top .footer-links ul a {
    color: #777777;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
  }
  
  #footer .footer-top .footer-links ul a:hover {
    text-decoration: none;
    color: #47b2e4;
  }
  
  #footer .footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    background: white;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }
  
  #footer .footer-top .social-links a:hover {
    background: white;
    color: #fff;
    text-decoration: none;
  }
  
  #footer .footer-bottom {
    padding-top: 30px;
    padding-bottom: 30px;
    color: #fff;
  }
  
  #footer .copyright {
    float: left;
  }
  
  #footer .credits {
    float: right;
    font-size: 13px;
  }
  
  #footer .credits a {
    transition: 0.3s;
  }
  
  @media (max-width: 768px) {
    #footer .footer-bottom {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  
    #footer .copyright,
    #footer .credits {
      text-align: center;
      float: none;
    }
  
    #footer .credits {
      padding-top: 4px;
    }
  }
